button {
    width: 60px;
    height: 60px;
    margin: 5px;
}

#calculatorBody {
    border: 2px solid black;
    background-color: gray;
    height: 500px;
    width: 400px;
    display: grid;
    grid-template-rows: .5fr 1fr;
}

#calculatorScreen {
    border: 2px solid blue;
    margin: 10px;
}

.buttonRow {
    border: 2px solid black;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}